<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Home Page</title>
</head>
<body>
<div class="home">
    <h2 class="heading-primary">Calories calculation</h2>
    <p class="heading-sub">This web app is useful to calculate how many calories you should take today and also gives the BMI result. </p>
    <a href={{url_for('calories_form_page')}} class="btn btn--white btn--animated">Go to the calculation page</a>
</div>

</body>
</html>